name: Release
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    uses: eeekcct/goreleaser-rust-workflow/.github/workflows/release.yml@b299f1ca26515c9e0c29c5f1b54bd902684752af # v0.2.1
    permissions:
      contents: write
      id-token: write
      actions: read
      attestations: write
